.category {
  width: 100%;
  height: auto;
  margin: 160px 0;
}

.category-container {
  max-width: 1400px;
  width: 95vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 560px;
}

.category-container-inverse {
  flex-direction: row-reverse;
  height: 303px;
}

.category-container-inverse .category-info {
  margin: 0;
  margin-right: 125px;
}

.category-img {
  flex-basis: 50%;
  height: 560px;
  width: 100%;
}
.category-info-container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.category-info {
  display: flex;
  flex-direction: column;
  height: 343px;
  justify-content: space-between;
  margin-left: 125px;
}

.displayNone {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.category-info h1 {
  text-transform: uppercase !important;
}

.categoryInfoP {
  color: var(--orange-background);
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: 10px;
  line-height: 19.12px;
}

.category-info p:nth-child(3) {
  opacity: 0.5;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 25px;
  color: #000000;
}

.category-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.orange-background {
  background: var(--orange-background);
  color: var(--white-color) !important;
  transition: var(--transition);
}

.orange-background:hover {
  background: var(--orange-background-hover) !important;
}

@media screen and (max-width: 1024px) {
  .category-info {
    margin-left: 50px;
  }
  .category-container-inverse .category-info {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .category-container {
    height: 706px;
    flex-direction: column;
  }
  .category-info-container,
  .category-img {
    flex-basis: 100%;
  }
  .category-info-container {
    height: 302px;
    margin-top: 52px;
    text-align: center;
  }
  .category-container-inverse .category-info {
    margin: 0;
  }
  .category-info {
    text-align: center;
    align-items: center;
    margin: 0;
  }

  .category-img {
    height: 352px;
  }
}

@media screen and (max-width: 600px) {
  .category-container {
    height: 724px;
  }
  .category-img {
    height: 352px;
  }
  .category-info H1 {
    font-size: 28px;
    letter-spacing: 1px;
  }
}
